<link rel="stylesheet" href="/css/chat.css">


<div class="chat-parent" id="chat-engine">
    <div class="chat">
        <ul>
            <li class="recieved" id="recieved">
                 <span></span>
                </li>
            <li class="sent" id="sent"> 
                <span></span>
            </li>
        </ul>

    </div>
    <div class="sent-box">
            <input type="text" placeholder="message" id="message">
            <button id="btn"  >Send</button>
    </div>
</div>

<!-- onclick="sendMessage()" -->